<!DOCTYPE html>
<html>
<head>
  <title>Receta</title>
  <%= stylesheet_link_tag    'application.css.scss' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
